@import url("https://use.fontawesome.com/releases/v5.0.12/css/all.css");

body {
    font-family: 'Ubuntu', sans-serif !important;
}

.work-panel {
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px
}

#left-panel {
    width: 50vw;
    max-width: 80vw;
    padding-left: 5px;
}

#chart-panel {
    height: 50vh;
    border-color: #FD3A61;
}

#data-panel {
    border-color: #279DEA;
}

#data-box {
    height: 200px;
    min-height: 100px;
}

#control-panel {
    border-color: #20D0B2;
}

#data-sep-chart:hover {
    cursor: row-resize;
}

#data-sep-chart {
    /* margin-bottom: 8px;
    margin-top: 5px; */
    width: 100%;   
    padding-top: 0.5px;
    padding-bottom: 0.5px;
}

#left-sep-right {
    padding-left: 0.5px;
    padding-right: 0.5px;
    margin-right: 8px;
}

#left-sep-right:hover {
    cursor: col-resize;
}

.the-tip {
    background: #aeaeae;
    font-size: 12px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px #eeeeee ;
    opacity: 0.8;
    border: #a8a8a8;
    color: black;
}

.the-tip:after {
    content: '';
    position: relative;
    display: block;
    top: 17px;
    width: 14.1px;
    height: 14.1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #aeaeae;
    box-shadow: 5px 5px 10px #eeeeee ;
    opacity: 0.8;
    border: #a8a8a8;
    margin: auto;
}
